{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}{% endblock title %}
    </title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <nav>
        <a href='{% url "main_page:index" %}'>Main Page</a>
        <p></p>
        <a href="https://www.16personalities.com/personality-types">Take the Myers–Briggs Type Indicator Test</a>
    </nav>
</head>
<body>
    {% block content %}{% endblock content %}

</body>

</html>
