{% extends "base.html" %}

{% block title %}
    {{ mbti_type.type_name }} Detail Page
{% endblock title %}

{% block content %}
<main>
        <div id="mbti-detail">
            <h2>{{ mbti_type.type_name }}</h2>
            {% if mbti_type.type_image %}
                <img src="{{ mbti_type.type_image.url }}" alt="{{ mbti_type.type_name }}">
            {% endif %}
            <p>{{ mbti_type.type_description }}</p>
        </div>
        <ul id="hard_facts">
            {% for hard_fact in hard_fact_list %}
                <li>{{ hard_fact }}</li>
            {% endfor %}
        </ul>
</main>
{% endblock content %}


{% comment %} {{ mbti_type.hard_facts }} {% endcomment %}
