{% extends "base.html" %}
{% include 'main_mbti_type/table.html' %}
{% load static %}

{% block title %}
    Main Page
{% endblock title %}

{% block content %}
<p>
    Calculate MBTI Compatibility
    <div>
        <form method="post">
            {% csrf_token %}
            <label for="type1">Input MBTI Type 1:</label>
            <input type="text" name="type1" id="type1" oninput="this.value = this.value.toUpperCase()" maxlength="4">
            <label for="type2">Input MBTI Type 2:</label>
            <input type="text" name="type2" id="type2" oninput="this.value = this.value.toUpperCase()" maxlength="4">
            <button type="submit">Calculate Compatibility</button>
            {% if compatibility_score is not None %}
            <p>Compatibility Score for "{{ type1 }}" and "{{ type2 }}": {{ compatibility_score }}</p>
            <div class=key>
                <p>Key:</p>
                <p>
                "Perfect": Ideal Match, yall better start cookin something<br>
                "Good": Pretty Good, Just put in the work<br>
                "Average": You guys don't really hate each other<br>
                "Poor": It cannnnn work, but why?<br>
                "Bad": Straight up not going to work<br>
                </p>
            </div>
            {% else %}
                {% if error_message %}
                    <p>{{ error_message }}</p><br>
                    <p>Please input MBTI Type 1 and Type 2 to calculate compatibility.</p>
            {% endif %}
            {% endif %}
        </form>
    </div>
</p>
<p>
    <table>
        <tr>
          <th>Personality Trait</th>
          <th>Description</th>
        </tr>
        <tr>
          <td>Introversion</td>
          <td>Gains energy from being alone</td>
        </tr>
        <tr>
          <td>Extroversion</td>
          <td>Gains energy from being with others</td>
        </tr>
        <tr>
          <td>iNtuition</td>
          <td>Focuses on the future, imaginative</td>
        </tr>
        <tr>
          <td>Sensing</td>
          <td>Focuses on the present, values experience</td>
        </tr>
        <tr>
          <td>Feeling</td>
          <td>Makes decisions based on emotions</td>
        </tr>
        <tr>
          <td>Thinking</td>
          <td>Makes decisions based on logic</td>
        </tr>
        <tr>
          <td>Perceiving</td>
          <td>Adapts to situations as they arise</td>
        </tr>
        <tr>
          <td>Judging</td>
          <td>Prefers to plan ahead</td>
        </tr>
      </table>
</p>
<main>
    {% for mbti_type in mbti_types %}
        <div class="mbti-detail">
            <h2><a href="{% url 'main_page:mbti_detail' type_name=mbti_type.type_name %}">{{ mbti_type.type_name }}</a></h2>
            {% if mbti_type.type_image %}
                <img src="{{ mbti_type.type_image.url }}" alt="{{ mbti_type.type_name }}">
            {% endif %}
            <p>{{ mbti_type.traits }}</p>
        </div>
    {% endfor %}
</main>
<footer>
 <div id="footer">
        <img src="{% static "images/christian-singles.jpeg" %}" alt="Christian Singles">
        <button id="close-btn">X</button>
    </div>
</footer>


{% comment %} <footer class="footer">
    <p><img src="{% static "images/christian-singles.jpeg" %}" alt="Christian Singles"></p>
</footer> {% endcomment %}
{% endblock content %}

{% comment %} <h2><a href="{% url 'mbti_detail' type_name=mbti_type.type_name %}">{{ mbti_type.type_name }}</a></h2> {% endcomment %}
{% comment %} <a href="{% url 'mbti_detail' mbti_type.type_name %}"> {% endcomment %}
