<table>
    <tr>
      <th>Personality Trait</th>
      <th>Description</th>
    </tr>
    <tr>
      <td>Introversion</td>
      <td>Gains energy from being alone</td>
    </tr>
    <tr>
      <td>Extroversion</td>
      <td>Gains energy from being with others</td>
    </tr>
    <tr>
      <td>Intuition</td>
      <td>Focuses on the future, imaginative</td>
    </tr>
    <tr>
      <td>Sensing</td>
      <td>Focuses on the present, values experience</td>
    </tr>
    <tr>
      <td>Feeling</td>
      <td>Makes decisions based on emotions</td>
    </tr>
    <tr>
      <td>Thinking</td>
      <td>Makes decisions based on logic</td>
    </tr>
    <tr>
      <td>Perceiving</td>
      <td>Adapts to situations as they arise</td>
    </tr>
    <tr>
      <td>Judging</td>
      <td>Prefers to plan ahead</td>
    </tr>
  </table>
