
body {
    display: flex;
    flex-direction: column;
    background-color: #23f2c9;
    margin: 0;
    padding: 0;
  }

main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    padding: 10px;
    /* box-sizing: border-box; */
    text-align: center;
    height: calc(100vh - 100px);
}

.mbti-type{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(300px, auto);
    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    margin: 0 auto;
    max-width: 1200px;
    border: black, thick, 50px;
}

nav{
    font-size: larger;
    grid-column-start: 50;
    background-color: rgb(0, 255, 242);
    border: 3px solid black !important;
    text-align: center;
}

#mbti-detail{
    display: grid;
    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    margin: 0 auto;
    max-width: 1200px;
    border: black, thick, 50px;
}

.key {
   color: blue;

}

table, th, td {
    border: 1px solid black;
}

li {
    list-style: none;
}

footer {
    position:static;
    bottom: 0;
    width: 100%;
    text-align: left;
  }





/* footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
  } */

/* .mbti-type{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(300px, auto);
    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}
